body {
  background-color: rgb(253, 251, 251);
  font-family: fantasy;
  font-size: 18px;
}

#cabecalho {
  top: 0 px;
  position: fixed;
}

img {
  width: 250px;
  border-radius: 50%;
  padding-bottom: 10px;
  padding-top: 30px;
}

article {
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
}

.lado-esquerdo {
  position: absolute;
  left: 10%;
  width: 320px;
  height: 200px;
  border: 3px solid rgb(144, 197, 144);
}

aside {
  width: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.lado-direito {
  position: absolute;
  right: 10%;
  width: 30%;
  height: 40%;
  border: 3px solid green;
}

table {
  width: 100%;
}

th , td {
  border: 2px groove black;
}

#licoes_aprendidas {
  color: blue;
  line-height: 30px;
}

#licoes_a_aprender {
  color: red;
  line-height: 30px;
}
