body {
  background-color: rgb(253, 251, 251);
  font-family: fantasy;
  font-size: 18px;
}

#cabecalho {
  top: 0;
  position: fixed;
}

img {
  width: 300px;
  height: 300px;
  margin-top: 110px;
  border-radius: 10%;
  padding: 15px;
}

.lado-esquerdo {
  display: inline-block;
  text-align: left;
  width: 40%;
}

.lado-direito {
  display: inline-block;
  text-align: right;
  width: 40%;
}

table {
  width: 100%;
}

th , td {
  border: 2px groove black;
}

#licoes_aprendidas {
  color: rgba(17, 19, 18, 0.733);
  line-height: 20px;
  display: inline-block;
  text-align: left;
}

#licoes_a_aprender {
  color: rgba(7, 17, 11, 0.63);
  line-height: 20px;
  display: inline-block;
  text-align: left;
}
